language: go
dist: bionic
env:
  global:
    - FLYWAY_VERSION=9.5.0
    - INPUT_BUILDARGS=FLYWAY_VERSION=$FLYWAY_VERSION
go:
  - 1.19.x
services:
  - docker
go_import_path: github.com/adevinta/vulcan-api
script:
  - _script/start-pg
  - _script/start-kafka
  - _script/cibuild
  - source _script/setup-e2e-tests
  - _script/run-e2e-tests
after_success:
  - bash -c 'source <(curl -s https://raw.githubusercontent.com/adevinta/vulcan-cicd/master/docker.sh)'
