PORT=8080
SECRET_KEY=SUPERSECRETSIGNKEY
COOKIE_NAME=devcon-token
COOKIE_DOMAIN=localhost
PG_HOST=localhost
PG_NAME=vulcanito
PG_USER=vulcanito
PG_PASSWORD=vulcanito
PG_PORT=5432
PG_SSLMODE=disable
PG_CA_B64=
LOG_LEVEL=DEBUG
SAML_MEATADATA=
SAML_ISSUER=
SAML_CALLBACK=http://localhost:8080/api/v1/login/callback
SAML_TRUSTED_DOMAINS=["localhost"]
DEFAULT_OWNERS=[]
SCANENGINE_URL=http://localhost:8081/v1/
SCHEDULER_URL=http://localhost:8082/
SQS_QUEUE_ARN=arn:aws:sqs:xxx:123456789012:yyy
AWS_SQS_ENDPOINT=
SQS_POLLING_INTERVAL=10
SQS_WAIT_TIME=20
SQS_TIMEOUT=3600
REPORTS_BASE_PATH=https://insights.vulcan.example.com
PERSISTENCE_HOST=persistence.vulcan.example.com
REPORTS_SNS_ARN=arn:aws:sns:xxx:123456789012:yyy
AWS_SNS_ENDPOINT=
REPORTS_API_URL=http://localhost:8084
VULNERABILITYDB_URL=http://localhost:8083
SCAN_REDIRECT_URL=https://insights-redirect.vulcan.s3-xxx.amazonaws.com/index.html?reportUrl=
VULCAN_UI_URL=http://localhost:1234
AWSCATALOGUE_KIND=None
AWSCATALOGUE_URL=https://catalogue.example.com
AWSCATALOGUE_KEY=key
AWSCATALOGUE_RETRIES=4
AWSCATALOGUE_RETRY_INTERVAL=2
GPC_1_ALLOWED_CHECKS=["vulcan-zap"]
GPC_1_EXCLUDING_SUFFIXES=["experimental"]
GPC_1_NAME=web-scanning-global
